In [91]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

#  Change 'root' to the name of your user; '12345' to the password of your connection, 'seriousmd' to the name of your schema
engine = create_engine('mysql://root:12345@localhost/seriousmd')

# Data Cleaning
Please put each data cleaning method you used below for each table

## Appointments

In [43]:
appointment_df = pd.read_csv('../dataset/appointments.csv', encoding='latin1')

In [66]:
# firstly, check the data type of the columns
appointment_df.dtypes

pxid                  object
clinicid              object
doctorid              object
apptid                object
status                object
TimeQueued    datetime64[ns]
QueueDate     datetime64[ns]
StartTime     datetime64[ns]
EndTime       datetime64[ns]
type                  object
isVirtual            boolean
dtype: object

In [45]:
# convert columns to their respective data types
appointment_df['pxid'] = appointment_df['pxid'].astype(str)
appointment_df['clinicid'] = appointment_df['clinicid'].astype(str)
appointment_df['doctorid'] = appointment_df['doctorid'].astype(str)
appointment_df['apptid'] = appointment_df['apptid'].astype(str)
appointment_df['status'] = appointment_df['status'].astype(str)
appointment_df['TimeQueued'] = pd.to_datetime(appointment_df['TimeQueued'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
appointment_df['QueueDate'] = pd.to_datetime(appointment_df['QueueDate'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
appointment_df['StartTime'] = pd.to_datetime(appointment_df['StartTime'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
appointment_df['EndTime'] = pd.to_datetime(appointment_df['EndTime'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
appointment_df['type'] = appointment_df['type'].astype(str)
appointment_df['Virtual'] = pd.to_numeric(appointment_df['Virtual'], errors='coerce').astype('boolean')

In [46]:
# rename column virtual to isVirtual
appointment_df.rename(columns={'Virtual': 'isVirtual'}, inplace=True)

In [47]:
# turn status complete to completed
pd.unique(appointment_df['status'])

array(['Complete', 'Queued', 'NoShow', 'Serving', 'Cancel', 'Skip',
       'Completed', 'Admitted'], dtype=object)

In [48]:
# Replace 'complete' with 'completed' in the 'Status' column
appointment_df['status'] = appointment_df['status'].replace(
    'Complete', 'Completed')

In [49]:
print(pd.unique(appointment_df['status']))

['Completed' 'Queued' 'NoShow' 'Serving' 'Cancel' 'Skip' 'Admitted']

In [50]:
print(appointment_df)

                                     pxid                          clinicid  \
0        EF196B348A49FB32DABC9834DC4FAAD9  ADF7EE2DCF142B0E11888E72B43FCB75
1        EAE3C87D0B33351272F2E9B9B1B56217  1E0F65EB20ACBFB27EE05DDC000B50EC
2        7C5C93809D626CC702D08F33985B2B58  1E0F65EB20ACBFB27EE05DDC000B50EC
3        C300C2B9E0E5D4C46E8093BCDBFA05CA  98C39996BF1543E974747A2549B3107C
4        B3DBE7F9E4DC33CBC5660E0A923CF8E8  77EE3BC58CE560B86C2B59363281E914
...                                   ...                               ...
9752927  2583E761CF4CAB4813AAEAFDAA883CC6  CCFC2D538DDFF519D893A6B966A1C4F1
9752928  F51E6BF96EA5028AE5F5C01EBF08E3BD  CCFC2D538DDFF519D893A6B966A1C4F1
9752929  84E3EB4A060096C3702D33F5A52E8B43  CCFC2D538DDFF519D893A6B966A1C4F1
9752930  2B9F701BED6F68800637ADB7EF4CACE2  CCFC2D538DDFF519D893A6B966A1C4F1
9752931  2ED01D09EF929AE3CA7564A2CB09DC2C  40F4775D64533EE66E3E20AE64228661

                                 doctorid                            apptid  \
0        BB04AF0F7ECAEE4AAE62035497DA1387  C1CC0949B93D00A559F7A0BD38361E80
1        82AA4B0AF34C2313A562076992E50AA3  6585A31C60A1886FBA1433C50012B504
2        82AA4B0AF34C2313A562076992E50AA3  7250DCFF615E6580295C7E6ED4322371
3        AD61AB143223EFBC24C7D2583BE69251  F5BBDCC08E39332F0AC27BB95CF1396A
4        AD61AB143223EFBC24C7D2583BE69251  55783FB42A02DABC3B2ED239B924DC87
...                                   ...                               ...
9752927  B706835DE79A2B4E80506F582AF3676A  215A26E2E5B831D87C41A5C1CC382B1C
9752928  B706835DE79A2B4E80506F582AF3676A  E9EB60E3DA311FAE308A2DB53B6CCBAC
9752929  B706835DE79A2B4E80506F582AF3676A  EFE2DDFD855E2B4E1C67956CE1CE8A6E
9752930  B706835DE79A2B4E80506F582AF3676A  434410208F17F50143E1CE66E4CEF23F
9752931  B706835DE79A2B4E80506F582AF3676A  62D462EFFD157E70C4301E555962D44B

            status          TimeQueued           QueueDate  \
0        Completed 2018-04-11 01:59:58 2018-04-10 16:00:00
1           Queued 2018-04-10 10:34:16 2018-04-08 16:00:00
2           Queued 2018-04-03 15:26:19 2018-03-30 16:00:00
3           Queued                 NaT                 NaT
4           Queued                 NaT                 NaT
...            ...                 ...                 ...
9752927     Queued                 NaT 2023-11-22 16:00:00
9752928     Queued                 NaT 2023-12-04 16:00:00
9752929     Queued                 NaT 2024-01-03 16:00:00
9752930     Queued                 NaT 2024-01-12 16:00:00
9752931     Queued                 NaT 2024-01-03 16:00:00

                  StartTime             EndTime          type  isVirtual
0                       NaT                 NaT  Consultation       <NA>
1       2018-04-09 10:33:00 2018-04-12 05:29:57     Inpatient       <NA>
2       2018-03-31 15:25:00 2018-04-05 15:51:47     Inpatient       <NA>
3                       NaT                 NaT  Consultation       <NA>
4                       NaT                 NaT  Consultation       <NA>
...                     ...                 ...           ...        ...
9752927                 NaT                 NaT  Consultation      False
9752928                 NaT                 NaT  Consultation      False
9752929 2024-01-04 08:00:00 2024-01-04 08:15:00  Consultation      False
9752930 2024-01-13 08:00:00 2024-01-13 08:15:00  Consultation      False
9752931 2024-01-04 02:30:00 2024-01-04 02:45:00  Consultation      False

[9752932 rows x 11 columns]

In [67]:
# Check type
print(pd.unique(appointment_df['type']))

['Consultation' 'Inpatient']

In [51]:
appointment_df.to_sql('appointments', engine, if_exists='replace', index=False)

9752932

## Patient (px)

In [75]:
px_df = pd.read_csv('../dataset/px.csv', encoding='latin1', low_memory=False)

In [76]:
print(px_df.dtypes)

pxid      object
age       object
gender    object
dtype: object

In [54]:
px_df['pxid'] = px_df['pxid'].astype(str)
px_df['age'] = pd.to_numeric(px_df['age'], errors='coerce').astype('Int64')
px_df['gender'] = px_df['gender'].astype(str)

In [55]:
# 1. delete row where data is pxid, age, gender
result_df = px_df[px_df['pxid'] == 'pxid']

# Display the result

print(result_df)

        pxid   age  gender
995328  pxid  <NA>  gender

In [56]:
# Create a boolean mask for the rows to be deleted
mask = (px_df['pxid'] == 'pxid')

# Use the boolean mask to drop the rows that meet the conditions
px_df.drop(px_df[mask].index, inplace=True)

# Optionally, you can reset the index after dropping rows
px_df.reset_index(drop=True, inplace=True)

In [57]:
result_df = px_df[px_df['pxid'] == 'pxid']

# Display the result
print(result_df)

Empty DataFrame
Columns: [pxid, age, gender]
Index: []

In [58]:
# 2. turn all ages below 0 into null 
print(px_df[px_df['age'] < 0])

                                     pxid   age  gender
3224     EC7168F4DF42E718CA4A70F52E57A99B  -182    MALE
5883     8CC44C76FDAAC6C6F63BCFFA7D6D035B   -24  FEMALE
12133    C1CA856AD536A5271D627B1C2D3035E5  -962  FEMALE
13506    4C6D650B3DF986431FB3E8E73B25E71B    -9    MALE
18165    D896D4A82EFD3D4B3DCFCFA68F1B4178   -20  FEMALE
...                                   ...   ...     ...
6446113  B55530B08612FCE658AB4FFE4FD339B4    -2  FEMALE
6483470  AB033EC5325213D763D23F08DFBCAE2D  -996  FEMALE
6497082  E4A2C6A059BD27024843AEA8924ACA01    -3    MALE
6498675  91A193DBF9891D001A11C6ED9093F2F6    -1  FEMALE
6502709  C53E03E6794972AB45656853357AC65A    -5    MALE

[1143 rows x 3 columns]

In [59]:
# Replace ages below 0 with NaN
px_df.loc[px_df['age'] < 0, 'age'] = None
print(px_df[px_df['age'] < 0])

Empty DataFrame
Columns: [pxid, age, gender]
Index: []

In [60]:
px_df

                                     pxid   age  gender
0        5A1718EC380AFE6BE24D63EE78CDA043  <NA>  FEMALE
1        C0FC9D6384C7F579F1048A461C298B8C     8  FEMALE
2        FB0C4098E2F7FD0BC3865382242E7034     2  FEMALE
3        EB3C1CBD5A2AC52C69BE0B90C5E149A7    54    MALE
4        92C92C2EB4B51FBB3CD354165BA5F027    67  FEMALE
...                                   ...   ...     ...
6507807  9D8045364678C651016538B78784720E    56    MALE
6507808  BCC86927CB7F687624859D5B7C9AB8B6    60    MALE
6507809  2890460EE1FD505905A0A55834EBDC06    17  FEMALE
6507810  3989D63FA4DD7C54911AA085CB7CF38A    62    MALE
6507811  80E396F35668298FED90AD2278A6D28D    46  FEMALE

[6507812 rows x 3 columns]

In [61]:
px_df.to_sql('px', engine, if_exists='replace', index=False)

6507812

## Doctors

In [94]:
doctors_df = pd.read_csv('../dataset/doctors.csv', encoding='latin1')

In [96]:
doctors_df.head(10)

,doctorid,mainspecialty,age
0,AD61AB143223EFBC24C7D2583BE69251,General Medicine,41.0
1,D09BF41544A3365A46C9077EBB5E35C3,Family Medicine,43.0
2,FBD7939D674997CDB4692D34DE8633C4,Vascular Medicine,26.0
3,28DD2C7955CE926456240B2FF0100BDE,Otolaryngologists,34.0
4,35F4A8D465E6E1EDC05F3D8AB658C551,General Dentistry,50.0
5,D1FE173D08E959397ADF34B1D77E88D7,Orthopedic,62.0
6,F033AB37C30201F73F142449D037028D,Family Medicine,41.0
7,43EC517D68B6EDD3015B3EDC9A11367B,Acupunturist1,38.0
8,9778D5D219C5080B9A6A17BEF029331C,Orthopaedic Sports Medicine,57.0
9,FE9FC289C3FF0AF142B6D3BEAD98A923,Masters of Science in Preventive & Regenerativ...,44.0

In [97]:
print(doctors_df.dtypes)

doctorid          object
mainspecialty     object
age              float64
dtype: object

In [98]:
doctors_df['age'] = pd.to_numeric(doctors_df['age'], errors='coerce')

# Convert 'age' column to integer, treating NaN as null
doctors_df['age'] = doctors_df['age'].replace({np.nan: None}).astype('Int64')

In [99]:
doctors_df.head(10)

,doctorid,mainspecialty,age
0,AD61AB143223EFBC24C7D2583BE69251,General Medicine,41
1,D09BF41544A3365A46C9077EBB5E35C3,Family Medicine,43
2,FBD7939D674997CDB4692D34DE8633C4,Vascular Medicine,26
3,28DD2C7955CE926456240B2FF0100BDE,Otolaryngologists,34
4,35F4A8D465E6E1EDC05F3D8AB658C551,General Dentistry,50
5,D1FE173D08E959397ADF34B1D77E88D7,Orthopedic,62
6,F033AB37C30201F73F142449D037028D,Family Medicine,41
7,43EC517D68B6EDD3015B3EDC9A11367B,Acupunturist1,38
8,9778D5D219C5080B9A6A17BEF029331C,Orthopaedic Sports Medicine,57
9,FE9FC289C3FF0AF142B6D3BEAD98A923,Masters of Science in Preventive & Regenerativ...,44

In [63]:
doctors_df.to_sql('doctors', engine, if_exists='replace', index=False)

60024

## Clinics

In [64]:
clinics_df = pd.read_csv('../dataset/clinics.csv', encoding='latin1')

clinicid        object
hospitalname    object
IsHospital        bool
City            object
Province        object
RegionName      object
dtype: object

In [73]:
print(clinics_df.dtypes)

clinicid        object
hospitalname    object
IsHospital        bool
City            object
Province        object
RegionName      object
dtype: object

In [65]:
clinics_df.to_sql('clinics', engine, if_exists='replace', index=False)

53962